@use "../abstract/" as *;
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

$font-family: "Ubuntu Condensed", Arial, sans-serif;
html {
  font-size: 62.5%;
}


p {
  
  // font-size: clamp(1.5rem, 5vw, 2rem);
  font-size: 3rem;
  margin-bottom: 2rem;
}
